package pages

templ HomePage() {
    <html>
        <head>
            <title>Templ com Go</title>
        </head>
        <body>
            <h>Bem-vindo ao Templ!</h>
            <p>Renderizado com Go + templ.</p>
        </body>
    </html>
}
